{% extends 'layout.html' %} {% block title %}All Movies - WebFlix{% endblock %}
{% block content %}

<div class="movie-grid-container">
  {% if movies %}
  <div class="card-grid">
    {% for movie in movies %}
      <div class="card">
        <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">
          {% if movie.poster_url %}
          <img
            src="{{ movie.poster_url }}"
            class="card-img-top"
            alt="{{ movie.title }} Poster"
          />
          {% else %}
          <div class="card-img-top movie-poster-placeholder">
            <span>No Poster</span>
          </div>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No movies found in the database yet.</p>
  {% endif %}
</div>
{% endblock %}
